[submodule "themes/academic"]
	path = themes/academic
	url = git@github.com:lambda-insight/hugo-academic.git
[submodule "public"]
	path = public
	url = git@lambda.insight:lambda-insight/lambda-insight.github.io.git
	branch = master
