[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/lambda-insight/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/lambda-insight/lambda-insight.github.io.git
	branch = master
